html,body,header,#landing-div{
    height: 100%;
}
.top-nav-collapse {
    background-color: black;
    padding: 0.75rem !important;
}
#landing-div{
    background: white url("../img/landing.jpg") no-repeat scroll center;
    background-size: cover;
}
#intro-section{
    background: white url("../img/bg-blue.jpg") no-repeat fixed center;
    background-size: cover;
}
#learn-more-section{
    background: white url("../img/bg-blue.jpg") no-repeat fixed center;
    background-size: cover;
}
img{
    box-shadow: 0 5px 10px black;
    border-radius: 10px !important;
}
.mt-n5,
.my-n5 {
    margin-top: -5rem !important;
    border-radius: 50% !important;
    width: 8rem;
    }

.card-body{
    padding: 1.25rem;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
}
.card:hover{
    transform: perspective(400px) rotateY(20deg);
    background-color: black;
    color: white;
    transition: all 1.0s;
}

